{% extends 'base.html' %}  {% block title %}Chronic Kidney Disease Predictor {% endblock %}
{% block content %}

<div class="row d-flex justify-content-center " >
   
    <div class="col-md-12">
        <center><h1>Kidney Disease Predictor</h1></center>
        <div class="card card-body" style="border: 1px solid black;">
            <form class="form-horizontal"  action="{{ url_for('views.predictPage') }}"  method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="wc" placeholder="white blood cell ">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="bu" placeholder="blood urea">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="bgr" placeholder="blood glucose random">
                        </div>
                    </div>
               
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="sc" placeholder="serum creatinine">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="pcv" placeholder="packed cell volume">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="al" placeholder="albumin">
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="hm" placeholder="haemoglobin">
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="age" placeholder="age">
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="su" placeholder="sugar">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="htn" placeholder="hypertension">
                        </div>
                    </div>
                </div>
            </form>
         
            </div>
            
              
                  <div class="">    
                    <input type="submit" class="btn btn-info btn-block "  value="Predict">
                      </div>
           
            
            
        </div>
     
        
    </div>
</div> <br>


{% endblock %}
